<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="jp.jagfukuoka.sodefuri"
      android:versionCode="1"
      android:versionName="1.0">
    <application android:icon="@drawable/icon" android:label="@string/app_name" android:debuggable="true">
        <activity android:name=".RecentListViewActivity" android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".TimeLineActivity" android:label="TimeLine" />
        <activity android:name=".BluetoothFoundActivity" android:label="TimeLine" />
        <activity android:name=".login.NewAccountActivity" android:label="@string/new_account" />
        <activity android:name=".login.PinActivity" android:label="Pin" />
        
        <activity android:name=".preference.MainPreferenceActivity" android:label="Preference" />
        
        <service android:name=".service.RecentService"  android:enabled="true"/>
		<provider android:name=".provider.RecentContentProvider"
          android:authorities="jp.jagfukuoka.sodefuri.provider.recentcontentprovider" />
    </application>

<uses-permission android:name="android.permission.INTERNET"></uses-permission>
<uses-permission android:name="android.permission.BLUETOOTH"></uses-permission>
<uses-permission android:name="android.permission.BLUETOOTH_ADMIN"></uses-permission>
</manifest> 